.hover-columna
  position: relative

.border-r10
  border-radius: 10px    
.centrar-img
  margin: 0 auto
.text-normal
  color: $color-sistema-texto !important
.img-center
  display: flex
  flex-direction: column
  justify-content: center  


.banner-interno__fondo
  background-image: url('../assets/curso/fondo-banner-internas.png') !important 


.tarjeta-flip
  cursor: pointer    