// Flechas editadas Slyder // 

.flechas-rojas
  .fa-chevron-left
    &:before
      content: url(../assets/curso/flecha-izquierda.svg) 
  .fa-chevron-right
    &:before
      content: url(../assets/curso/flecha-derecha.svg) 

// Flechas editadas Slyder // 

// Tarjeta up slyde // 

.tarjeta-up-slyde
  border-radius: 20px
  overflow: hidden
  position: relative
  img
    width: 100%
  &__content
    border-radius: 10px
    width: 100%
    height: 100%
    position: absolute
    left: 0
    bottom: -80%
    transition: bottom 0.5s ease-in-out
    p
      opacity: 0
      transition: opacity 0.5s ease-in-out
    &.color-primario
      background: #ffde96
    &.color-secundario
      background: $color-secundario
    &.color-acento-contenido
      background: $color-acento-contenido
    &.color-acento-botones
      background: $color-acento-botones
  &:hover
    .tarjeta-up-slyde__content
      bottom: 0
      p
        opacity: 1

// Tarjeta up slyde // 

//Ignore padding // ---------------------------------------------------
.ignore-p
  margin: 0 -3rem 
//Ignore padding // ---------------------------------------------------


.bg-1-claro
  background-color: #fff6e2
@keyframes float
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
.banner-interno__fondo
  background-image: url(../assets/curso/banner-interno.png) !important
.slyder-a__btn--sigt , .slyder-a__btn--atrs
  opacity: 1
.slyder-card-front__card 
  @media (max-width: $bp-max-lg) 
    width: 100% !important
    font-size: 12px !important
.slyder-a__tipo-a .slyder-a__bullets
  bottom: 14px
.w-80
  width: 80%
.w-90
  width: 90%
  
    
  

